bin/
obj/
artifacts/
dist/
TestResults/
coverage/
BenchmarkDotNet.Artifacts/
.nuget/
packages/
.vs/
.idea/
.vscode/
Directory.Build.props
*.user
*.suo
*.userprefs
*.log
*.binlog
*.trx
*.coverage
*.coveragexml
*.pdb
*.nupkg
*.snupkg
*.ymme
.DS_Store
Thumbs.db
